:root {
  --deep-blue: #002772;
  --blue: #D6E6FF;
  --deep-pink: #720060;
  --pink: #FDE2FF;
  --deep-blac: #1E1E1E;
  --black: #3F3F3F;
  --gray: #DCDCDC;
  --white: #FFFFFF;
}

/* box-sizing : property allows us to include the padding and border in an element's total width and height. */
* {
  margin: 0;
  box-sizing: border-box;
}

.container {
  position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.temp {
  display: flex;
  position: relative;
  z-index: 2;
  width: 80%;
  height: 70vh;
  background-color: var(--white);
  border-radius: 10px;
  padding: 48px 32px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}


/* CSS loader */
.loader {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
  margin-top: 20px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* exist products */
.container-product {
  width: 1034px;
  height: 580px;
  display: grid;
  gap: 20px 40px;
}
.product-image {
  display: flex;
  align-items: center;
}
.product-image > img {
  width: 60%;
}
.product-details {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}
.product-details .product-name{
  font-size: 32px;
  font-weight: 600;
}
.product-details .product-element {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 14px;
  font-size: 16px;
  color: var(--dark-gray);
  padding-bottom: 16px;
  border-bottom: 1px solid var(--gray);
}
.product-details .product-rating {
  display: flex;
  gap: 3px;
  align-items: center;
}

.product-details .product-info {
  width: 100%;
  margin-top: 24px;
  font-size: 18px;
  color: var(--black);
}

.product-details > .below {
  padding-top: 16px;
  border-top: 1px solid var(--gray);
}
.product-details .price {
  font-size: 32px;
  font-weight: 600;
}

/* unavailable product */
.product-unavailable-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.product-unavailable-container > .overlay {
  top: 10%;
  left: 5%;
}
.product-unavailable-container > .product-details {
  text-align: center;
  z-index: 2;
}
.product-unavailable-container .cta-next {
  margin: 0px auto;
  border: 2px solid black;
  color: black;
}

/* background */
.back-blue {
  background-color: var(--blue);
}

.back-pink{
  background-color: var(--pink);
}

.back-gray {
  background-color: var(--gray);
}

.blue-font {
  color: var(--deep-blue);
}

.pink-font {
  color: var(--deep-pink);
}

/* button */
.footer {
  margin-top: 16px;
  width: 100%;
  display: flex;
  gap: 12px;
}

.footer > .button-buy,
.footer > .button-next {
  width: 200px;
  height: 36px;
  font-size: 16px;
  border-radius: none;
  font-weight: bold;
  cursor: pointer;
}

.footer > .footer-buy {
  color: var(--white);
  border: none;
}
.footer > .footer-next {
  background-color: var(--white);
}